---
pagination:
  data: books.by_book
  size: 1
  alias: book
permalink: "books/{{ book.id }}-{{ book.title | slug }}.html"
eleventyComputed:
  title: "{{ book.book }}"
---
{% extends "layouts/default.njk" %}

{% block content %}

    <div class="d-flex flex-column align-items-center justify-content-evenly p-2 w-100 gap-5 flex-md-row" style="height: 100vh;">
    
        <section>

          <header class="h1">معلومات عن الكتاب</header>

          {% set info = {"book": "إسم الكتاب", "author": "الكاتب"} %}

          <div>
          
            {% for property, text in info %}
            <div>
              <span class="text-bold">{{ text }} : </span>
              <span>{{ book[property] }}</span>
            </div>
            {% endfor %}
          
          </div>
        
        </section>

        <section class="text-center" style="max-width: 25em">
        
          <header class="h1">الصيغ المتوفرة</header>

          {% set colors = { docx: "#2b579a", azw3: "#FF9900", epub: "#82b317", kfx: "#2f2f2f", mobi: "#b8955d" } %}

          {% for file in book.files %}

            <a href="{{ file.link }}" class="btn text-white w-100 mb-2" style="background-color: {{ colors[file.extension] }}">
              <span>التنزيل بصيغة</span>
              <span class="fw-bold">{{ file.extension | upper }}</span>
            </a>

          {% endfor %}
        
        </section>
        
    </div>

{% endblock %}