{% set title = "الكتاب" %}

{% extends "layouts/default.njk" %}

{% block head %}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

{% endblock %}

{% block content %}

    <section class="d-flex justify-content-center align-items-center" style="height: 100vh">
    
        <div class="text-center">
            <h1 style="font-size: 5em">الكتاب</h1>
        </div>
    
    </section>

    <section id="table" class="d-flex justify-content-center flex-column p-4" style="height: 100vh">
    
        <table class="display">
        
            <thead>
                <tr>
                    <th>الإسم</th>
                </tr>
            </thead>

            <tbody>

                {% for author in authors %}
                <tr>
                    <td>
                        <a class="text-reset" href="/authors/{{ author.id }}-{{ author.author | slug }}.html">{{ author.author }}</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>

        </table>
    
    </section>

{% endblock %}

{% block scripts %}

    <script src="/js/jquery.js"></script>

    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script>

        $(document).ready( () => $('#table > table').DataTable() );

    </script>

{% endblock %}