{% set title = "الصفحة الرئيسية" %}

{% extends "layouts/default.njk" %}

{% block content %}
    
    <section class="d-flex justify-content-center align-items-center" style="padding-top: 130px;padding-bottom: 50px;">
    
        <div class="text-center">
            <h1 style="font-size: 5em;" class="mb-5">المكتبة الشاملة النصية</h1>
            <h2 class="text-muted">أكثر من 7000 كتاب نصي لأجهزة القراءة اﻹلكترونية</h2>
        </div>
    
    </section>

    <section id="table" class="container-fluid p-4">
    
        <h3 class="mb-5">التصنيفات</h1>
        <div class="container-fluid">
            <div class="row justify-content-around text-center">
                {% for category in categories %}
                    <div class="col-md-3 card bg-light fs-3 p-4 m-3">
                        <a class="text-decoration-none text-dark" href="/categories/{{ category.name | slug }}.html">{{ category.name }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>

    </section >

{% endblock %}

{% block scripts %}

    <script src="/js/jquery.js"></script>

    <script>

        layout.classList.remove("layout--loading")

    </script>

{% endblock %}
